# Flutter related
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins.dart
.packages
.pub-cache
.pub
build/
.idea/
.android/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
*.iml

# macOS
macos/Flutter/ephemeral/
macos/Flutter/Flutter.podspec
macos/Pods/
macos/.symlinks/

# Web related
web/.dart_tool/
web/build/
canvaskit/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Google settings files
*.launch
*.yaml

# Dependency management
.pub/
.dart_tool/
.vscode/

# Obsolete files
*.lock
*.log

# Flutter specific packages
**/build/
**/ios/Pods/
**/ios/Flutter/Flutter.framework
**/ios/.symlinks/

# Miscellaneous
.DS_Store
*.swp
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig
macos/Podfile
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/additional_project_files.txt
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/additional_project_files.txt
/android/app/.cxx/Debug/5q212o6u/x86/additional_project_files.txt
/android/app/.cxx/Debug/5q212o6u/x86_64/additional_project_files.txt
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/android_gradle_build.json
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/Debug/5q212o6u/x86/android_gradle_build.json
/android/app/.cxx/Debug/5q212o6u/x86_64/android_gradle_build.json
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/android_gradle_build_mini.json
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/android_gradle_build_mini.json
/android/app/.cxx/Debug/5q212o6u/x86/android_gradle_build_mini.json
/android/app/.cxx/Debug/5q212o6u/x86_64/android_gradle_build_mini.json
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/build.ninja
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/build.ninja
/android/app/.cxx/Debug/5q212o6u/x86/build.ninja
/android/app/.cxx/Debug/5q212o6u/x86_64/build.ninja
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/build_file_index.txt
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/build_file_index.txt
/android/app/.cxx/Debug/5q212o6u/x86/build_file_index.txt
/android/app/.cxx/Debug/5q212o6u/x86_64/build_file_index.txt
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/5q212o6u/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/5q212o6u/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/5q212o6u/x86_64/.cmake/api/v1/reply/cache-v2-653dcc17ac4a9e798832.json
/android/app/.cxx/Debug/5q212o6u/x86/.cmake/api/v1/reply/cache-v2-864e821293b137b74cbe.json
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/.cmake/api/v1/reply/cache-v2-0924791c0c3ac24f6565.json
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/.cmake/api/v1/reply/cache-v2-e07762df762f71b59946.json
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/5q212o6u/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/5q212o6u/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/cmake_install.cmake
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/Debug/5q212o6u/x86/cmake_install.cmake
/android/app/.cxx/Debug/5q212o6u/x86_64/cmake_install.cmake
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/CMakeCache.txt
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/Debug/5q212o6u/x86/CMakeCache.txt
/android/app/.cxx/Debug/5q212o6u/x86_64/CMakeCache.txt
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/5q212o6u/x86/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/5q212o6u/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/5q212o6u/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/5q212o6u/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/5q212o6u/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/5q212o6u/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/5q212o6u/x86/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/5q212o6u/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/5q212o6u/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/5q212o6u/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/5q212o6u/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/5q212o6u/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/5q212o6u/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/5q212o6u/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/5q212o6u/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/5q212o6u/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/5q212o6u/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/5q212o6u/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/5q212o6u/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-9d3b331bd96740b92269.json
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-149aac4bda7f57bfe6bd.json
/android/app/.cxx/Debug/5q212o6u/x86/.cmake/api/v1/reply/cmakeFiles-v1-472aeabf13a5230f1018.json
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-555f6b4a7c6735895370.json
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/5q212o6u/x86/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/5q212o6u/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/5q212o6u/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/5q212o6u/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-00c0bd196335baf8c24b.json
/android/app/.cxx/Debug/5q212o6u/x86_64/.cmake/api/v1/reply/codemodel-v2-4afa2ba3b0e2c276ac2b.json
/android/app/.cxx/Debug/5q212o6u/x86/.cmake/api/v1/reply/codemodel-v2-1430d5592a78b468d081.json
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-ecce35517cb15cd4ec81.json
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/configure_fingerprint.bin
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/configure_fingerprint.bin
/android/app/.cxx/Debug/5q212o6u/x86/configure_fingerprint.bin
/android/app/.cxx/Debug/5q212o6u/x86_64/configure_fingerprint.bin
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/5q212o6u/x86/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/5q212o6u/x86_64/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/5q212o6u/hash_key.txt
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/.cmake/api/v1/reply/index-2025-05-12T06-23-51-0879.json
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/.cmake/api/v1/reply/index-2025-05-12T06-23-52-0557.json
/android/app/.cxx/Debug/5q212o6u/x86/.cmake/api/v1/reply/index-2025-05-12T06-23-52-0933.json
/android/app/.cxx/Debug/5q212o6u/x86_64/.cmake/api/v1/reply/index-2025-05-12T06-23-55-0224.json
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/Debug/5q212o6u/x86/metadata_generation_command.txt
/android/app/.cxx/Debug/5q212o6u/x86_64/metadata_generation_command.txt
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/prefab_config.json
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/prefab_config.json
/android/app/.cxx/Debug/5q212o6u/x86/prefab_config.json
/android/app/.cxx/Debug/5q212o6u/x86_64/prefab_config.json
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/5q212o6u/x86/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/5q212o6u/x86_64/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/symbol_folder_index.txt
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/symbol_folder_index.txt
/android/app/.cxx/Debug/5q212o6u/x86/symbol_folder_index.txt
/android/app/.cxx/Debug/5q212o6u/x86_64/symbol_folder_index.txt
/android/app/.cxx/Debug/5q212o6u/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/5q212o6u/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/5q212o6u/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/5q212o6u/x86_64/CMakeFiles/TargetDirectories.txt
