<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYcQ9FM2-Qm3AI4YuWHm-EKU9OrDcHCG8</string>
	<key>GCM_SENDER_ID</key>
	<string>1096422707406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rodeodigital01.wellmartmas</string>
	<key>PROJECT_ID</key>
	<string>gowelmart-9b9c8</string>
	<key>STORAGE_BUCKET</key>
	<string>gowelmart-9b9c8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096422707406:ios:f531109e440ee0ac4dc09f</string>
</dict>
</plist>